<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="guestRole">
            <h2><span jhiTranslate="jhipsterApp.guestRole.detail.title">Guest Role</span> {{guestRole.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterApp.guestRole.roleName">Role Name</span></dt>
                <dd>
                    <span>{{guestRole.roleName}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/guest-role', guestRole.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
