<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="car">
            <h2><span jhiTranslate="jhipsterApp.car.detail.title">Car</span> {{car.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterApp.car.carName">Car Name</span></dt>
                <dd>
                    <span>{{car.carName}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.car.carBrand">Car Brand</span></dt>
                <dd>
                    <span>{{car.carBrand}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.car.guestUser">Guest User</span></dt>
                <dd>
                    <div *ngIf="car.guestUser">
                        <a [routerLink]="['/guest-user', car.guestUser?.id, 'view']">{{car.guestUser?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/car', car.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
